@font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    src: local("Anton"), url("http://fonts.gstatic.com/s/anton/v7/TS7BJzhU7AKgPn9R0AejYKCWcynf_cDxXwCLxiixG1c.woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.clear-pads{
    padding: 0px !important;
}
.logo-txt{
    color: black;
    font-family: Anton,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.1em;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
}
.footer .logo-txt{
    color: white;
}
.image-box .image{
    height: 347px;
}
.service-box .image{
    height: 322px;
}
.gallery-section .slide-item {
    width: 100%;
}
.overlay .excerpt{
    max-height: 155px;
    overflow: hidden;
}
.pormo_box_img .product-img{
    height: 250px;
}
.service-img{
    height: 605px;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list li i{
    margin-right: 5px;
    font-size: 18px;
}
#contact-page-contact-form input[type="submit"]{
    width: 120px;
    background: #fbca00;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}