@font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    src: local("Anton"), url("http://fonts.gstatic.com/s/anton/v7/TS7BJzhU7AKgPn9R0AejYKCWcynf_cDxXwCLxiixG1c.woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
button{
    outline: 0;
}
.clear-pads{
    padding: 0px !important;
}
.logo-txt{
    color: black;
    font-family: Anton,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.1em;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
}
.footer .logo-txt{
    color: white;
}
#gallery-images .image{
    height: 347px;    overflow: hidden;
}
.single-producr-image{
    height: 185px;
}
.service-box .image{
    height: 322px;

}
.gallery-section .slide-item {
    width: 100%;
}
.gallery-section .item-caption{
    bottom: -60px;
    opacity: 1;
}
#gallery-images .image:hover .item-caption{
    bottom: 0px;
}
.overlay .excerpt{
    max-height: 155px;
    overflow: hidden;
}
.pormo_box_img .product-img{
    height: 250px;
}
.service-img{
    height: 605px;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list li i{
    margin-right: 5px;
    font-size: 18px;
}
#contact-page-contact-form input[type="submit"]{
    width: 120px;
    background: #fbca00;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}
.disabled{
    pointer-events: none !important;
    cursor: default !important;
}
.category-wrap{
    margin-bottom: 50px;
    height: 50px;
}
.category{
    background: #053636;
    padding-top: 17px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 100%;
    text-align: center;
}
.category.active{
    background: #fbca00;
    border-color: #fbca00;
}
.category, .category a{
    color: #fff;
}
#current, #current-p{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 10%;
    border-color: #6b6b6b;
    border: 1px solid;
    text-align: center;
}
#sale-pages{
    margin-top: 20px;
}
#sale-pages i{
    font-size: 25px;
    color: #ffffff;
}
#sale-pages button{
    margin-right: 5px;
}
#sale-pages span{
    margin-right: 5px;
}
.center {
    text-align: center;
}
#sale-pages {
    margin-top: 20px;
}
.paginate-control {
    display: inline-block;
    background: #4ec200;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    padding: 0px;
}
.paginate-control:disabled{
    background: #aab2bd;
}
.current-page-text{
    display: inline-block;
    vertical-align: top;
}
.fa-angle-double-left{
    margin-left: -3px;
}
.fa-angle-double-right{
    margin-right: -3px;
}
.wpcf7-form{

}
.wpcf7-form input, .wpcf7-form textarea {
    width: 100%;
    background: #2C353C;
    color: #C9C9C9;
    font-size: 13px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
}
.wpcf7-form input{
    height: 50px;
}
.footer.bg-style .footer-widget.contact-widget input {
    height: 45px;
}
.footer.bg-style .footer-widget.contact-widget input, .footer.bg-style .footer-widget.contact-widget textarea {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #222222;
    color: #fff;
}
.footer-widget .wpcf7-form input[type="submit"]:hover {
    background: #fff!important;
    color: #fbca00;
}
.footer-widget .wpcf7-form input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #fbca00!important;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    outline: none;
    padding: 0;
    line-height: 50px;
    font-weight: bold;
    transition: all .3s ease;
}